<body class="bg-dark text-white">

  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h2 class="text-center display-4 my-4">Upload to MongoDB</h2>
        <form action="/newInfo" method="POST" enctype="multipart/form-data" class="login-form">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="form-control-file" (change)="onFileChange($event)">
            <label for="file" class="custom-file-label">Choose a file to upload</label>
          </div>
          <input (click)=onUpload() type="submit" value="Upload" class="btn btn-outline-light btn-block"/>
        </form>
      </div>
    </div>
  </div>
</body>
